services:
  postgres:
    image: postgres:15-alpine
    container_name: gougle-docs-postgres
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - gougle-docs-network

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: gougle-docs-backend
    environment:
      DB_URL: postgresql://${DB_USER}:${DB_PASSWORD}@postgres:5432/${DB_NAME}
      PORT: 3001
      NODE_ENV: development
    ports:
      - "3001:3001"
    depends_on:
      - postgres
    volumes:
      - ./backend:/app
      - /app/node_modules
      - /app/dist
    networks:
      - gougle-docs-network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: gougle-docs-frontend
    environment:
      PUBLIC_API_URL: ${PUBLIC_API_URL}
      PUBLIC_SOCKET_URL: ${PUBLIC_SOCKET_URL}
      INTERNAL_API_URL: ${INTERNAL_API_URL}
      WATCHPACK_POLLING: "true"
      CHOKIDAR_USEPOLLING: "true"
    ports:
      - "3000:3000"
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules
      - /app/.next
    networks:
      - gougle-docs-network

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: gougle-docs-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}  
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    networks:
      - gougle-docs-network
    depends_on:
      - postgres

volumes:
  postgres_data:
  pgadmin_data:

networks:
  gougle-docs-network:
    driver: bridge